In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("trip_data_1.csv")

In [3]:
b = pd.read_csv("trip_fare_1.csv")
b

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,0.0,0.0,10.5
...,...,...,...,...,...,...,...,...,...,...,...
14776610,B33E71CD9E8FE1BE3B70FEB6E807DD15,BAF57796E45D921BB23217E17A372FF6,CMT,2013-01-06 04:58:23,CSH,13.0,0.5,0.5,0.0,0.0,14.0
14776611,ED160B76D5349C8AC1ECF22CD4B8D538,3B93F6DA5DEBDE9560993FA624C4FF76,CMT,2013-01-08 14:42:04,CSH,7.5,0.0,0.5,0.0,0.0,8.0
14776612,D83F9AC0E33F6F19869C243BE6AB6FE5,85A55B6772275374EF90AC9457DC1F83,CMT,2013-01-10 13:29:23,CSH,6.0,0.0,0.5,0.0,0.0,6.5
14776613,04E59442A7DDBCE515E33CD355D866E7,7913172189931A1A1632562B10AB53C4,CMT,2013-01-06 16:30:15,CSH,9.5,0.0,0.5,0.0,0.0,10.0
14776614,D30BED60331C79E3F7ACD05B325ED42F,B5E1D2461A5BCC8819188DACEC17CD69,CMT,2013-01-05 20:38:46,CSH,5.0,0.5,0.5,0.0,0.0,6.0

In [4]:
a

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,-73.978165,40.757977,-73.989838,40.751171
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,-74.006683,40.731781,-73.994499,40.750660
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,-74.004707,40.737770,-74.009834,40.726002
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,-73.974602,40.759945,-73.984734,40.759388
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,-73.976250,40.748528,-74.002586,40.747868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14776610,B33E71CD9E8FE1BE3B70FEB6E807DD15,BAF57796E45D921BB23217E17A372FF6,CMT,1,N,2013-01-06 04:58:23,2013-01-06 05:11:24,1,781,3.3,-73.989029,40.759327,-73.953743,40.770672
14776611,ED160B76D5349C8AC1ECF22CD4B8D538,3B93F6DA5DEBDE9560993FA624C4FF76,CMT,1,N,2013-01-08 14:42:04,2013-01-08 14:50:27,1,503,1.0,-73.993042,40.733990,-73.982483,40.724823
14776612,D83F9AC0E33F6F19869C243BE6AB6FE5,85A55B6772275374EF90AC9457DC1F83,CMT,1,N,2013-01-10 13:29:23,2013-01-10 13:34:45,1,321,0.9,-73.979553,40.785011,-73.968262,40.788158
14776613,04E59442A7DDBCE515E33CD355D866E7,7913172189931A1A1632562B10AB53C4,CMT,1,N,2013-01-06 16:30:15,2013-01-06 16:42:26,1,730,1.3,-73.968002,40.762161,-73.985992,40.770542
14776614,D30BED60331C79E3F7ACD05B325ED42F,B5E1D2461A5BCC8819188DACEC17CD69,CMT,1,N,2013-01-05 20:38:46,2013-01-05 20:43:06,1,260,0.8,-73.982224,40.766670,-73.989212,40.773636

In [5]:
b.columns = ['medallion', 'hack_license', 'vendor_id', 'pickup_datetime',
       'payment_type', 'fare_amount', 'surcharge', 'mta_tax',
       'tip_amount', 'tolls_amount', 'total_amount']

In [6]:
b.columns

Index(['medallion', 'hack_license', 'vendor_id', 'pickup_datetime',
       'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount',
       'tolls_amount', 'total_amount'],
      dtype='object')

In [7]:
b

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,0.0,0.0,10.5
...,...,...,...,...,...,...,...,...,...,...,...
14776610,B33E71CD9E8FE1BE3B70FEB6E807DD15,BAF57796E45D921BB23217E17A372FF6,CMT,2013-01-06 04:58:23,CSH,13.0,0.5,0.5,0.0,0.0,14.0
14776611,ED160B76D5349C8AC1ECF22CD4B8D538,3B93F6DA5DEBDE9560993FA624C4FF76,CMT,2013-01-08 14:42:04,CSH,7.5,0.0,0.5,0.0,0.0,8.0
14776612,D83F9AC0E33F6F19869C243BE6AB6FE5,85A55B6772275374EF90AC9457DC1F83,CMT,2013-01-10 13:29:23,CSH,6.0,0.0,0.5,0.0,0.0,6.5
14776613,04E59442A7DDBCE515E33CD355D866E7,7913172189931A1A1632562B10AB53C4,CMT,2013-01-06 16:30:15,CSH,9.5,0.0,0.5,0.0,0.0,10.0
14776614,D30BED60331C79E3F7ACD05B325ED42F,B5E1D2461A5BCC8819188DACEC17CD69,CMT,2013-01-05 20:38:46,CSH,5.0,0.5,0.5,0.0,0.0,6.0

In [8]:
c = a.merge(b, on=['medallion', 'hack_license', 'pickup_datetime', 'vendor_id'])

In [ ]:
c = c.sample(frac=0.25)

In [9]:
c

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,...,40.757977,-73.989838,40.751171,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,...,40.731781,-73.994499,40.750660,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,...,40.737770,-74.009834,40.726002,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,...,40.759945,-73.984734,40.759388,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,...,40.748528,-74.002586,40.747868,CSH,9.5,0.5,0.5,0.0,0.0,10.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14776610,B33E71CD9E8FE1BE3B70FEB6E807DD15,BAF57796E45D921BB23217E17A372FF6,CMT,1,N,2013-01-06 04:58:23,2013-01-06 05:11:24,1,781,3.3,...,40.759327,-73.953743,40.770672,CSH,13.0,0.5,0.5,0.0,0.0,14.0
14776611,ED160B76D5349C8AC1ECF22CD4B8D538,3B93F6DA5DEBDE9560993FA624C4FF76,CMT,1,N,2013-01-08 14:42:04,2013-01-08 14:50:27,1,503,1.0,...,40.733990,-73.982483,40.724823,CSH,7.5,0.0,0.5,0.0,0.0,8.0
14776612,D83F9AC0E33F6F19869C243BE6AB6FE5,85A55B6772275374EF90AC9457DC1F83,CMT,1,N,2013-01-10 13:29:23,2013-01-10 13:34:45,1,321,0.9,...,40.785011,-73.968262,40.788158,CSH,6.0,0.0,0.5,0.0,0.0,6.5
14776613,04E59442A7DDBCE515E33CD355D866E7,7913172189931A1A1632562B10AB53C4,CMT,1,N,2013-01-06 16:30:15,2013-01-06 16:42:26,1,730,1.3,...,40.762161,-73.985992,40.770542,CSH,9.5,0.0,0.5,0.0,0.0,10.0
14776614,D30BED60331C79E3F7ACD05B325ED42F,B5E1D2461A5BCC8819188DACEC17CD69,CMT,1,N,2013-01-05 20:38:46,2013-01-05 20:43:06,1,260,0.8,...,40.766670,-73.989212,40.773636,CSH,5.0,0.5,0.5,0.0,0.0,6.0

In [10]:
c.to_csv("all_data.csv", index=False)

In [37]:
set(c['vendor_id'].tolist())

{'CMT', 'VTS'}